
<div id="loading"></div>

<div id="contentContainer" align="right">
	<div id="content">





<!-- <div id="main" align="left">
	<div id="handle"></div>
	<div id="closeBox"></div>
	
	<h2 class="entrytitle">Sign Up</h2>
	
	<div id="crumbs"><a href="/">Home</a> &nbsp;/&nbsp; <span class="current">Sign Up</span></div>	
	<div class="entry">
	
	<!--Sign Up FORM--> -->

<h1>Sign Up</h1>  
   
 <%= form_for @user do |f| %>  
   <% if @user.errors.any? %>  
     <div class="error_messages">  
       <h2>Form is invalid</h2>  
       <ul>  
         <% for message in @user.errors.full_messages %>  
           <li><%= message %></li>  
         <% end %>  
       </ul>  
     </div>  
   <% end %>  
   <p>  
     <%= f.label :email, "Email: " %> 
     <%= f.text_field :email %>  
     <br />
     <%= f.label :password, "New Password: " %> 
     <%= f.password_field :password %>  
     <br />
     <%= f.label :password_confirmation, "Re-enter Password: " %>  
     <%= f.password_field :password_confirmation %>  
   
    </p>
   <p class="button"><%= f.submit "Sign Up"%></p>  
 <% end %>

 <!--end contact form-->
    								
	<!-- </div> --><!--end entry-->
		
<!-- </div> --><!--end main-->

</div><!--end content-->
</div><!--end contentContainer-->